<h1>アクセス</h1>

<div class="container">
   <h1 class="mt-4 pb-4 border-bottom">Access</h1>
   <div>
       <h3>〒115-0045 東京都北区赤羽２丁目２０−１ 6F</h3>
   </div>
   <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3236.815182794471!2d139.7217793!3d35.779916!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601893028ecfc68d%3A0xf002b2615bbbbd40!2z44CSMTE1LTAwNDUg5p2x5Lqs6YO95YyX5Yy66LWk576977yS5LiB55uu77yS77yQ4oiS77yR!5e0!3m2!1sja!2sjp!4v1566290030210!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>