<h1>ホーム画面</h1>

<div class="container">
   
   <!--<img src="img/IMG_3826.jpg" alt="chouchou3人組" align="middle">-->
</div>

<div class="wrap-video">
 
 <div class="text">
   <h1 class="mt-4 pb-4 border-bottom">PUB Chou Chou</h1>
 </div>
 
 <video src="video/sample-video.mp4" loop autoplay muted></video>

</div>