<h1>メッセージ一覧</h1>

<ul>
  <% @contacts.each do |contact| %>
    <li><%= link_to contact.id, contact_path(contact) %> : <%= contact.content %></li>
  <% end %>
</ul>


<h1>売り上げ一覧</h1>

<ul>
  <% @inquiries.each do |inquiry| %>
    <li><%= link_to inquiry.id, inquiry_path(inquiry) %> : <%= inquiry.content %></li>
  <% end %>
</ul>

